/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generic styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px #3a3a3a ;
}

header a {
    color: inherit;
    text-decoration: none;
}

/* Logo Styling */
h1 {
    color: #000000; 
    letter-spacing: 1px;
    text-transform: uppercase; 
}

/* Navbar Styles */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    box-shadow: 0 2px 2px #3a3a3a;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 1.5rem; 
    padding: 0;
    margin: 0;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem; 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
}

.nav-links a:hover {
    background-color: #f0f0f0;
    color: #710ff1; 
}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 150px;
}

/* Footer */
footer {
}