/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body & Header Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #ffffff;
    padding: 15px 30px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    margin: 0; 
    letter-spacing: 1px;
    text-transform: uppercase; 
}


header a {
    color: #000000;
    text-decoration: none;
}

header a:hover {
    color: #f1c40f;
    transform: scale(1.1);
}

#logo {
    text-decoration: none;
}

#logo a {
    text-decoration: none;
}

#logo a:hover {
    color: #f1c40f;
    transform: scale(1.1);
}
/* Logo Styling */


/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-links a:hover {
    color: #f1c40f;
}

/* Main content */
main {
}

/* Footer */
footer {
}