/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body & Header Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #ffffff;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px #3a3a3a ;
}

/* Logo Styling */
h1 {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    margin: 0; 
    letter-spacing: 1px;
    text-transform: uppercase; 
}


header a {
    color: #e20f0f;
    text-decoration: none;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-links a:hover {
    color: #710ff1;
}

/* Main content */
main {
}

/* Footer */
footer {
}